
<div class="container-index">


<div class="index-main">
<h1>Coffee Apps</h1>

<a href="./places" class="link-index">All places</a>
<a href="./places/create" class="link-index">Create</a>
</div>

</div>
