<div class="edit-container">

  <h2>New Place</h2>
  <hr />

   <div class="form-edit"> 

           <div class="form-edit-fields">
  <form action="/places/create" method="POST">
    <label>
      Name:
      <input type="text" name="name" />

    </label>

    <label>
      Type:
      <input type="text" name="type" />

    </label>

    <label>
      Adress:
      <input type="text" name="lat" />
      <input type="text" name="lng" />

    </label>

    <input type="submit" />

  </form>
</div>
</div>
</div>